
@*@{
    ViewBag.Title = "Index";
}*@

<h2>Graphs</h2>

@*@model BP_final.Models.Graph

<p>My Chart</p>
@foreach (DotNet.Highcharts.Highcharts chart in Model.Graphs)
{
    @(chart)
    @(Model)
}*@

@model BP_final.Models.ChartsModel

@foreach (DotNet.Highcharts.Highcharts chart in Model.Charts)
{
    @chart
    @* do your stuff *@
}

